#! /usr/bin/env perl -w

use Getopt::Long;

my ($replace) = "";
my (@sarr);

my $logo = "dephandle";

%COMMON_PL_CODE%

sub Usage($$)
{
	my ($ec,$fmt)=@_;
	my ($fp)=\*STDERR;

	if ($ec == 0) {
		$fp =\*STDOUT;
	}

	if (length($fmt) > 0) {
		print $fp "$fmt\n";
	}

	print $fp "$0 [OPTIONS]  [dirs]...\n";
	print $fp "[OPTIONS]\n";
	print $fp "\t-h|--help               to give this help information\n";
	print $fp "\t-v|--verbose            to make verbose mode\n";
	print $fp "\n";
	print $fp "\t[dirs]                  if will give real path of it\n";

	exit($ec);
}

my %opts;
my ($lineno)=0;
my ($linecont)=0;
Getopt::Long::Configure("no_ignorecase","bundling");
Getopt::Long::GetOptions(\%opts,"help|h",
	"verbose|v" => sub {
		if (!defined($opts{"verbose"})) {
			$opts{"verbose"} = 0;
		}
		${opts{"verbose"}} ++;
	});

if (defined($opts{"help"})) {
	Usage(0,"");
}

if (defined($opts{"verbose"})) {
	$verbose = $opts{"verbose"};
}

if (scalar(@ARGV) > 0)  {
	$replace = shift @ARGV;
	Debug("replace [$replace]");
}
my ($depcnt)=0;
while(<STDIN>){
	my ($l) = $_;
	my ($outl);
	my ($i);
	if ($lineno == 0){
		if ($l =~ m/(.*:)/o) {
			$l =~ s/$1//;
			chomp($l);
			$outl = "$replace +=";
			@sarr = split(/\s+/,$l);
			for ($i=0;$i<scalar(@sarr);$i++) {
				if (length($sarr[$i]) == 0) {
					next;
				}
				if ($sarr[$i] eq "\\") {
					next;
				}
				$depcnt ++;
				if ($depcnt == 1) {
					# we omit one
					next;
				}
				if ($i > 0) {
					$outl .= " ";
				}
				$outl .= $sarr[$i];
			}
			if ($l =~ m/\\$/o) {
				$l =~ s/\\$//;
				$linecont = 1;
				Debug ("[$lineno]($l) continue");
			}
			$outl .= "\n";
		}
	} elsif ($linecont > 0) {
		$linecont = 0;
		chomp($l);
		@sarr = split(/\s+/,$l);
		$outl = "$replace +=";
		for ($i=0;$i < scalar(@sarr);$i++) {
			if (length($sarr[$i]) == 0) {
				next;
			}
			if ($sarr[$i] eq "\\") {
				next;
			}
			$depcnt ++;
			if ($depcnt == 1) {
				next;
			}

			$outl .= " ";
			$outl .= $sarr[$i];
		}
		$outl .= "\n";
		Debug("[$lineno]=$l");
		if ($l =~ m/\\$/o) {
			$l =~ s/\\$//;
			$linecont = 1;
			Debug ("[$lineno]($l) continue");
		}
	}
	print $outl;
	$lineno ++;
}