#! /usr/bin/env perl

use strict;
use Getopt::Long;

sub Usage($$)
{
	my ($ec,$fmt)=@_;
	my ($fp)=\*STDERR;

	if ($ec == 0) {
		$fp =\*STDOUT;
	}

	if (length($fmt) > 0) {
		print $fp "$fmt\n";
	}

	print $fp "$0 [OPTIONS]  [files]...\n";
	print $fp "[OPTIONS]\n";
	print $fp "\t-h|--help               to give this help information\n";
	print $fp "\t-v|--verbose            to make verbose mode\n";
	print $fp "\t-f|--fromdir [fromdir]  to fromdir\n";
	print $fp "\t-t|--todir   [todir]    to todir\n";
	print $fp "\t-n|--noendreplace       to not replace ending\n";
	print $fp "\n";
	print $fp "\t[files]                 if will give object\n";

	exit($ec);
}

my $logo = "toobj";

%COMMON_PL_CODE%

my %opts;
my ($fromdir,$todir);
my ($endreplace)=1;
$fromdir="";
$todir="";
Getopt::Long::Configure("no_ignorecase","bundling");
Getopt::Long::GetOptions(\%opts,"help|h",
	"verbose|v" => sub {
		if (!defined($opts{"verbose"})) {
			$opts{"verbose"} = 0;
		}
		${opts{"verbose"}} ++;
	},
	"todir|t=s",
	"fromdir|f=s",
	"noendreplace|n");

if (defined($opts{"help"})) {
	Usage(0,"");
}

if (defined($opts{"verbose"})) {
	$verbose = $opts{"verbose"};
}

if (defined($opts{"fromdir"})) {
	$fromdir=$opts{"fromdir"};
	$fromdir=GetFullPath($fromdir);
}

if (defined($opts{"todir"})) {
	$todir = $opts{"todir"};
	$todir = GetFullPath($todir);
}

if (defined($opts{"noendreplace"})) {
	$endreplace = 0;
}

my ($cnt)=0;
foreach(@ARGV) {
	my ($c) = $_;

	Debug("fromdir [$fromdir] todir [$todir]");
	if (length($fromdir) > 0 && length($todir) > 0) {
		$c = GetFullPath($c);
		$c =~ s/^$fromdir/$todir/;
	}

	if ($endreplace > 0) {
		$c =~ s/\.[cS](pp)?$/.o/;
	}
	Debug("[$c]");
	if ($cnt > 0){
		print " ";
	}
	print "$c";
	$cnt ++;
}

if ($cnt > 0 && -t STDOUT) {
	Debug("return");
	print "\n";
}