#!/bin/bash

source extargsparse4sh

if [ -n "$CPFUNCS_DEBUG" ] && [ $CPFUNCS_DEBUG -gt 3 ]
    then
    set -x
fi

read -r -d '' PERL_READLINK_STR_2<<EOFMM
%PERL_READLINK_STR_2%
EOFMM

read -r -d '' PERL_DOS2UNIX_STR<<EOFMM
%PERL_DOS2UNIX_STR%
EOFMM




script_file=`which $0`
if [  -z "$script_file"  ]
then
        script_file=`perl -e "$PERL_READLINK_STR_2" $0`
fi
script_dir=`dirname $script_file`

source "$script_dir/cpfuncs"

DEF_MNTDIR=$(GetSmbMountDir)
gitbase_dir=$(GetGitDir)
DEF_BASEDIR=`basename $gitbase_dir`

mntdir=$DEF_MNTDIR
basedir=$DEF_BASEDIR
verbose=0

source extargsparse4sh

read -r -d ''  OPTIONS<<EOFMM
    {
        "verbose|v" : "+",
        "mntdir|m" : "$DEF_MNTDIR",
        "basedir|b" : "$DEF_BASEDIR",
        "\$<args>" : "+"
    }
EOFMM




parse_command_line "$OPTIONS" "$@"


if [ -z "$mntdir" ]
        then
        printf "please specify mountdir by -m|--mntdir or mount them or export CP_SMB_DIR environment value" >/dev/stderr
        exit 4
fi


for item in ${args[@]}
do
        Debug "item [$item]"
        if [ "$item" = "--" ]
            then
            continue
        fi
        _absitem=`perl -e "$PERL_READLINK_STR_2" -- "$item"`
        Debug "_absitem [$_absitem] gitbase_dir [$gitbase_dir]"
        _issubdir=$(IsSub "$gitbase_dir" "$_absitem")
        if [ $_issubdir -gt 0 ]
                then
                curitem=$(GetSubDir "$gitbase_dir" "$_absitem")
                Debug "curitem [$curitem] _todir [$mntdir/$basedir] gitbase_dir[$gitbase_dir]"
                CopyFrom "$curitem" "$mntdir/$basedir" "$gitbase_dir"
        else
                ${ECHO} "item($item) not sub ($gitbase_dir)" >&2
        fi
done

