#!/bin/bash

source extargsparse4sh

if [ -n "$CPFUNCS_DEBUG" ] && [ $CPFUNCS_DEBUG -gt 3 ]
    then
    set -x
fi

read -r -d '' PERL_READLINK_STR_2<<EOFMM
use Cwd "abs_path";
print abs_path(shift);
EOFMM

read -r -d '' PERL_DOS2UNIX_STR<<EOFMM
%PERL_DOS2UNIX_STR%
EOFMM


script_file=`which $0`
if [  -z "$script_file"  ]
then
        script_file=`perl -e "$PERL_READLINK_STR_2" $0`
fi
script_dir=`dirname $script_file`

source "$script_dir/cpfuncs"

DEF_MNTDIR=$(GetSmbMountDir)
gitbase_dir=$(GetGitDir)
DEF_BASEDIR=`basename $gitbase_dir`

mntdir=$DEF_MNTDIR
basedir=$DEF_BASEDIR
verbose=0

source extargsparse4sh

read -r -d ''  OPTIONS<<EOFMM
    {
        "verbose|v" : "+",
        "mntdir|m" : "$DEF_MNTDIR",
        "basedir|b" : "$DEF_BASEDIR",
        "\$<args>" : "+"
    }
EOFMM



CopyFrom()
{
        local _i
        local _todir="$1"
        local _frombase="$2"
        local _basedir="$3"
        local _osname=`uname -s | tr [:upper:] [:lower:]`
        local _content


        if [ -d "$_frombase/$_todir" ]
        then
                _bname=`dirname "$_basedir/$_todir"`
                if [ "$_osname" = "darwin" ]
                    then
                    if [ ! -d "$_todir" ]
                        then
                        ${MKDIR} -p "$_todir"
                    fi
                else
                    if [ ! -d "$_bname" ]
                            then
                            ${MKDIR} -p "$_bname"
                    fi
                fi 
                Debug "[$_frombase/$_todir] => [$_bname]"
                if [ "$_osname" = "darwin" ]
                    then
                    ${CP} -r -f "$_frombase/$_todir" "$_todir"
                else
                    ${CP}  -r -f "$_frombase/$_todir"  "$_bname"
                fi
                for _i in $(${FIND} "$_basedir/$_todir" -type f | ${XARGS}  ${FILE}   | ${GREP} -e 'ASCII text' | ${AWK} -F: '{print $1}')
                do
                    Debug "dos2unix [$_i]"
                    ${PERL} -e "$PERL_DOS2UNIX_STR" "$_i"
                done
        else
                _bname=`dirname $_basedir/$_todir`
                if [ ! -d "$_bname" ]
                        then
                        ${MKDIR} "$_bname"
                fi
                ${CP} -f "$_frombase/$_todir" "$_basedir/$_todir"
                for _i in $(${FIND} "$_basedir/$_todir" -type f | ${XARGS}  ${FILE}  | ${GREP} -e 'ASCII text' | ${AWK} -F: '{print $1}')
                do
                    Debug "dos2unix [$_i]"
                    ${PERL} -e "$PERL_DOS2UNIX_STR" "$_i"
                done
        fi
}

parse_command_line "$OPTIONS" "$@"


if [ -z "$mntdir" ]
        then
        printf "please specify mountdir by -m|--mntdir or mount them or export CP_SMB_DIR environment value" >/dev/stderr
        exit 4
fi



for item in "${args[@]}"
do
        if [ "$item" = "--" ]
            then
            continue
        fi
        _absitem=`perl -e "$PERL_READLINK_STR_2" $item`
        _issubdir=$(IsSub "$gitbase_dir" "$_absitem")
        if [ $_issubdir -gt 0 ]
                then
                curitem=$(GetSubDir "$gitbase_dir" "$_absitem")                
                CopyFrom "$curitem" "$mntdir/$basedir" "$gitbase_dir"
        else
                ${ECHO} "item($item) not sub ($gitbase_dir)" >&2
        fi
done

