
ifndef __BASE_DEF_MAKE__
__BASE_DEF_MAKE__:=1

MAKELIB_VERSION = %MAKELIB_VERSION%

PERL:=$(shell which perl)
PYTHON:=$(shell which python)
SED:=$(shell which sed)
SUDO:=$(shell which sudo 2>/dev/null)
GCC:=$(shell which gcc)
GPP:=$(shell which g++)
GAS:=$(shell which gcc)
LD:=$(shell which ld)
OBJCOPY:=$(shell which objcopy)
ECHO:=$(shell which echo)
RM:=$(shell which rm)
CAT:=$(shell which cat)
PRINTF:=$(shell which printf)
LN:=$(shell which ln)
TRUE:=$(shell which true)
TOUCH:=$(shell which touch)
AR:=$(shell which ar)
BASH:=$(shell which bash)
DIFF:=$(shell which diff)

## __BASE_DEF_MAKE__ ##
endif 