ifndef __DEPENDS_OP_MAK__
__DEPENDS_OP_MAK__:=1


#########################################
##  build_c_depends
##            to build c depends
##  input value
##      1        input c file 
##      2        output depend file
##      3        for shortname handle
##      4        for common cflags
##      5        for compiler default gcc
#########################################
define build_c_depends
$(call call_exec_directly,$(call mkdir_safe_file $(2) )  $(call get_value_default,$(5),${GCC}) $(call get_value_default,$(4),${CFLAGS}) $($(3)_CFLAGS) -MM $(1) | ${PERL} -e "use strict;my (\$$cmd)=\"%PERL_DEP_HANDLE%\";eval \$$cmd;" -- $(3)_DEPS > $(2),"DEPS","$(call get_basename,$(2))")
endef

#########################################
##  build_c
##            to build c into o
##  input value
##      1        output file
##      2        input c file 
##      3        for shortname handle
##      4        cflags
##      5        compiler default gcc
#########################################
define build_c
$(call call_exec_directly,$(call mkdir_safe_file $(1) )  $(call get_value_default,$(5),${GCC}) $(call get_value_default,$(4),${CFLAGS}) $($(3)_CFLAGS) -c $(2) -o $(1),"CC","$(call get_basename,$(1))")
endef


#########################################
##  build_cpp_depends
##            to build cpp depends
##  input value
##      1        input cpp file 
##      2        output depend file
##      3        for shortname handle
##      4        for common cppflags
##      5        for compiler default g++
#########################################
define build_cpp_depends
$(call call_exec_directly,$(call mkdir_safe_file $(2) )  $(call get_value_default,$(5),${GPP}) $(call get_value_default,$(4),${CPPFLAGS}) $($(3)_CPPFLAGS) -MM $(1) | ${PERL} -e "use strict;my (\$$cmd)=\"%PERL_DEP_HANDLE%\";eval \$$cmd;" -- $(3)_DEPS > $(2),"DEPS","$(call get_basename,$(2))")
endef





#########################################
##  build_cpp
##            to build cpp into o
##  input value
##      1        output file
##      2        input cpp file 
##      3        for shortname handle
##      4        cppflags
##      5        compiler default g++
#########################################
define build_cpp
$(call call_exec_directly,$(call mkdir_safe_file $(1) ) ; $(call get_value_default,$(5),${GPP}) $(call get_value_default,$(4),${CPPFLAGS}) $($(3)_CPPFLAGS) -c $(2) -o $(1),"CPPC","$(call get_basename,$(1))")
endef

#########################################
##  build_S_depends
##            to build S depends
##  input value
##      1        input S file 
##      2        output depend file
##      3        for shortname handle
##      4        asflags
##      5        compiler default gcc
#########################################
define build_S_depends
$(call call_exec_directly,$(call mkdir_safe_file $(2) ) ; $(call get_value_default,$(5),${GAS}) $(call get_value_default,$(4),${ASFLAGS}) $($(3)_ASFLAGS) -MM $(1) | ${PERL} -e "use strict;my (\$$cmd)=\"%PERL_DEP_HANDLE%\";eval \$$cmd;" --  $(3)_DEPS > $(2),"DEPS","$(call get_basename,$(2))")
endef


#########################################
##  build_S
##            to build S file into o
##  input value
##      1        output file
##      2        input S file 
##      3        for shortname handle
##      4        asflags
##      5        compiler default gcc
#########################################
define build_S
$(call call_exec_directly,$(call mkdir_safe_file $(1) ) ; $(call get_value_default,$(5),${GAS}) $(call get_value_default,$(4),${ASFLAGS}) $($(3)_ASFLAGS) -c $(2) -o $(1),"AS","$(call get_basename,$(1))")
endef




#########################################
##  input : $(1)   src file
##          $(2)   link file
#########################################
define link_c_file
$(call call_exec_directly, $(call mkdir_safe_file,$(2) ) if [ -e $(2) ];then ${RM} -f $(2);fi;${LN} -s $(1) $(2),"LINK","$(call get_basename,$(2))")
endef

#########################################
##  input : $(1)   src file
##          $(2)   link file
#########################################
define link_cpp_file
$(call call_exec_directly,$(call mkdir_safe_file,$(2)) if [ -e $(2) ];then ${RM} -f $(2);fi;${LN} -s $(1) $(2),"LINK","$(call get_basename,$(2))")
endef

#########################################
##  input : $(1)   src file
##          $(2)   link file
#########################################
define link_S_file
$(call call_exec_directly,$(call mkdir_safe_file,$(2)) if [ -e $(2) ];then ${RM} -f $(2);fi;${LN} -s $(1) $(2),"LINK","$(call get_basename,$(2))")
endef



#########################################
##  input : $(1)   lists for c file
##          $(2)   cflags
##          $(3)   gcc or compiler
#########################################
define foreach_c_file_basic
$(foreach cursrc,$(1),$(eval $(call build_objs_c,$(patsubst %.c,%.o,$(cursrc)),$(cursrc),$(call get_shortname,${cursrc}),${cursrc}.d,$(2),$(3))))
endef

#########################################
##  input : $(1)   lists for c file
##          $(2)   basedir
##          $(3)   cflags
##          $(4)   gcc or compiler
#########################################
define foreach_c_file_shortname
$(foreach cursrc,$(1),$(eval $(call build_objs_c,$(patsubst %.c,%.o,$(cursrc)),$(cursrc),$(call get_shortname,$(cursrc),$(2)),${cursrc}.d,$(3),$(4))))
endef

#########################################
##  input : $(1)   lists for c link file
##          $(2)   cflags
##          $(3)   gcc or compiler
#########################################
define foreach_link_c_file_basic
$(foreach cursrc,$(1),$(eval $(call build_objs_link_c,$(patsubst %.c,%.o,$(cursrc)),$(cursrc),$(call get_shortname,${cursrc}),${cursrc}.d,$(2),$(3))))
endef

#########################################
##  input : $(1)   lists for c  link file
##          $(2)   basedir
##          $(3)   cflags
##          $(4)   gcc or compiler
#########################################
define foreach_link_c_file_shortname
$(foreach cursrc,$(1),$(eval $(call build_objs_link_c,$(patsubst %.c,%.o,$(cursrc)),$(cursrc),$(call get_shortname,$(cursrc),$(2)),${cursrc}.d,$(3),$(4))))
endef


#########################################
##  input : $(1)   lists for S file
##          $(2)   cflags
##          $(3)   gcc or compiler
#########################################
define foreach_S_file_basic
$(foreach cursrc,$(1),$(eval $(call build_objs_S,$(patsubst %.S,%.o,$(cursrc)),$(cursrc),$(call get_shortname,${cursrc}),${cursrc}.d,$(2),$(3))))
endef

#########################################
##  input : $(1)   lists for S file
##          $(2)   basedir
##          $(3)   cflags
##          $(4)   gcc or compiler
#########################################
define foreach_S_file_shortname
$(foreach cursrc,$(1),$(eval $(call build_objs_S,$(patsubst %.S,%.o,$(cursrc)),$(cursrc),$(call get_shortname,$(cursrc),$(2)),${cursrc}.d,$(3),$(4))))
endef

#########################################
##  input : $(1)   lists for S link file
##          $(2)   cflags
##          $(3)   gcc or compiler
#########################################
define foreach_link_S_file_basic
$(foreach cursrc,$(1),$(eval $(call build_objs_link_S,$(patsubst %.S,%.o,$(cursrc)),$(cursrc),$(call get_shortname,${cursrc}),${cursrc}.d,$(2),$(3))))
endef

#########################################
##  input : $(1)   lists for S  link file
##          $(2)   basedir
##          $(3)   cflags
##          $(4)   gcc or compiler
#########################################
define foreach_link_S_file_shortname
$(foreach cursrc,$(1),$(eval $(call build_objs_link_S,$(patsubst %.S,%.o,$(cursrc)),$(cursrc),$(call get_shortname,$(cursrc),$(2)),${cursrc}.d,$(3),$(4))))
endef



define ld_run_direct
$(call call_exec,$(call get_value_default,$(5),${GPP}) $(3) -o $(1) $(2) $(4),"LD","$(call get_basename,$(1))")
endef



define build_bintarget_only
$(call debug_make,"target[$(1)] objs[$(2)] shortname[$(3)] ldflags[$(4)] libflags[$(5)] compiler[$(6)]")
$(1) : $(2) $$($(3)_DEPS)
	$(call ld_run_direct,$(1),$(2),$(4),$(5),$(6))
endef

#
define build_objs_c
$(call debug_make,"cobj[$(1)] csrc[$(2)] shortname[$(3)]  deps[$(4)] cflags[$(5)] compiler[$(6)] $(3)_DEPS_USER[$($(3)_DEPS_USER)]")
-include $(4)
$(1): $(2) $(4) $$(MAKEDEPS) $$($(3)_DEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_c,$$@,$$<,$(3),$(5),$(6))


$(4): $$($(3)_DEPS) $$(MAKEDEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_c_depends,$(2),$(4),$(3),$(5),$(6))
endef


#
define build_objs_cpp
$(call debug_make,"cppobj[$(1)] cppsrc[$(2)] shortname[$(3)]  deps[$(4)] cppflags[$(5)] compiler[$(6)] $(3)_DEPS_USER[$($(3)_DEPS_USER)]")
-include $(4)
$(1): $(2) $(4) $$(MAKEDEPS) $$($(3)_DEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_cpp,$$@,$$<,$(3),$(5),$(6))


$(4): $$($(3)_DEPS) $$(MAKEDEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_cpp_depends,$(2),$(4),$(3),$(5),$(6))
endef

#
define build_objs_S
$(call debug_make,"Sobj[$(1)] Ssrc[$(2)] shortname[$(3)]  deps[$(4)] sflags[$(5)] compiler[$(6)] $(3)_DEPS_USER[$($(3)_DEPS_USER)]")
-include $(4)
$(1) : $(2) $(4) $$(MAKEDEPS) $$($(3)_DEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_S,$(1),$(2),$(3),$(5),$(6))

$(4) : $$($(3)_DEPS) $$(MAKEDEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_S_depends,$(2),$(4),$(3),$(5),$(6))
endef

#
define build_objs_link_c
$(call debug_make,"link cobj[$(1)] csrc[$(2)] shortname[$(3)]  deps[$(4)] cflags[$(5)] compiler[$(6)] $(3)_DEPS_USER[$($(3)_DEPS_USER)] $(3)_SRC[$($(3)_SRC)]")
-include $(4)
$(1) : $(2) $(4) $$(MAKEDEPS) $$($(3)_DEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_c,$(1),$(2),$(3),$(5),$(6))

$(4) : $$($(3)_DEPS) $$($(3)_SRC) $$($(3)_DEPS_USER)
	$${Q}$$(call link_c_file,$$($(3)_SRC),$(2))
	$${Q}$$(call build_c_depends,$(2),$(4),$(3),$(5),$(6))
endef



#
define build_objs_link_cpp
$(call debug_make,"link cppobj[$(1)] cppsrc[$(2)] shortname[$(3)]  deps[$(4)] cppflags[$(5)] compiler[$(6)] $(3)_DEPS_USER[$($(3)_DEPS_USER)] $(3)_SRC [$($(3)_SRC)]")
-include $(4)
$(1) : $(2) $(4) $$(MAKEDEPS) $$($(3)_DEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_cpp,$(1),$(2),$(3),$(5),$(6))

$(4) : $$($(3)_DEPS) $$($(3)_SRC) $$($(3)_DEPS_USER)
	$${Q}$$(call link_cpp_file,$$($(3)_SRC),$(2))
	$${Q}$$(call build_cpp_depends,$(2),$(4),$(3),$(5),$(6))
endef

#
define build_objs_link_S
$(call debug_make,"link Sobj[$(1)] Ssrc[$(2)] shortname[$(3)]  deps[$(4)] asflags[$(5)] compiler[$(6)] $(3)_DEPS_USER[$($(3)_DEPS_USER)] $(3)_SRC[$($(3)_SRC)]")
-include $(4)
$(1) : $(2) $(4) $$(MAKEDEPS) $$($(3)_DEPS) $$($(3)_DEPS_USER)
	$${Q}$$(call build_S,$(1),$(2),$(3),$(5),$(6))

$(4) : $$($(3)_DEPS) $$($(3)_SRC) $$($(3)_DEPS_USER)
	$${Q}$$(call link_S_file,$$($(3)_SRC),$(2))
	$${Q}$$(call build_S_depends,$(2),$(4),$(3),$(5),$(6))
endef

define build_clean_exe_only
$(call call_exec,${RM} -f $(1),"RM","$(call get_basename,$(1))")
endef

#####################################
##  input $(1)  src files
##        $(2)  shortname
##        $(3)  flags
##        $(4)  compiler
#####################################
define foreach_build_objs_c
$(call debug_make,"foreach_build_objs_c files[$(1)] BINDIR [$($(2)_BINDIR)] BASEDIR [$($(2)_BASEDIR)]")	
$(foreach cursrc,$(1),\
$(eval $(call build_objs_c,$(call get_toobj,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(cursrc),$(call get_shortname,$(cursrc),$($(2)_BASEDIR)),$(call get_depname,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(3),$(4))))
endef

#####################################
##  input $(1)  src files
##        $(2)  shortname
##        $(3)  flags
##        $(4)  compiler
#####################################
define foreach_build_objs_cpp
$(foreach cursrc,$(1),\
$(eval $(call build_objs_cpp,$(call get_toobj,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(cursrc),$(call get_shortname,$(cursrc),$($(2)_BASEDIR)),$(call get_depname,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(3),$(4))))
endef

#####################################
##  input $(1)  src files
##        $(2)  shortname
##        $(3)  flags
##        $(4)  compiler
#####################################
define foreach_build_objs_S
$(foreach cursrc,$(1),\
$(eval $(call build_objs_S,$(call get_toobj,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(cursrc),$(call get_shortname,$(cursrc),$($(2)_BASEDIR)),$(call get_depname,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(3),$(4))))
endef


#####################################
##  input $(1)  src files
##        $(2)  shortname
##        $(3)  flags
##        $(4)  compiler
#####################################
define foreach_build_objs_link_c
$(foreach cursrc,$(1),$(eval $(call build_objs_link_c,$(call get_toobj,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(cursrc),$(call get_shortname,$(cursrc),$($(2)_BASEDIR)),$(call get_depname,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(3),$(4))))
endef

#####################################
##  input $(1)  src files
##        $(2)  shortname
##        $(3)  flags
##        $(4)  compiler
#####################################
define foreach_build_objs_link_S
$(foreach cursrc,$(1),$(eval $(call build_objs_link_S,$(call get_toobj,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(cursrc),$(call get_shortname,$(cursrc),$($(2)_BASEDIR)),$(call get_depname,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(3),$(4))))
endef

#####################################
##  input $(1)  src files
##        $(2)  shortname
##        $(3)  flags
##        $(4)  compiler
#####################################
define foreach_build_objs_link_cpp
$(foreach cursrc,$(1),$(eval $(call build_objs_link_cpp,$(call get_toobj,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(cursrc),$(call get_shortname,$(cursrc),$($(2)_BASEDIR)),$(call get_depname,$(cursrc),$($(2)_BASEDIR),$($(2)_BINDIR)),$(3),$(4))))
endef

define __make_target_sources
$(call foreach_build_objs_c,$(call get_cfile,$($(1)_SRCS)),$(1),$(call get_value_default,$($(1)_CFLAGS),${CFLAGS}),$($(1)_GCC))
$(call foreach_build_objs_cpp,$(call get_cppfile,$($(1)_SRCS)),$(1),\
$(call get_value_default_4,$($(1)_CPPFLAGS),$($(1)_CFLAGS),${CPPFLAGS},${CFLAGS}),$($(1)_GPP))
$(call foreach_build_objs_S,$(call get_sfile,$($(1)_SRCS)),$(1),\
$(call get_value_default_4,$($(1)_ASFLAGS),$($(1)_CFLAGS),${ASFLAGS},${CFLAGS}),$($(1)_GAS))
$(call foreach_build_objs_link_c,$(call get_lcfile,$($(1)_SRCS)),$(1),\
$(call get_value_default,$($(1)_CFLAGS),${CFLAGS}),$($(1)_GCC))
$(call foreach_build_objs_link_S,$(call get_lsfile,$($(1)_SRCS)),$(1),\
$(call get_value_default_4,$($(1)_ASFLAGS),$($(1)_CFLAGS),${ASFLAGS},${CFLAGS}),$($(1)_GAS))
$(call foreach_build_objs_link_cpp,$(call get_lcppfile,$($(1)_SRCS)),$(1),\
$(call get_value_default_4,$($(1)_CPPFLAGS),$($(1)_CFLAGS),${CPPFLAGS},${CFLAGS}),$($(1)_GPP))
endef

define __make_exe_whole
$(call build_bintarget_only,$(1),$(call get_toobj,$($(2)_SRCS),$($(2)_BASEDIR),$($(2)_BINDIR)),$(2),$($(2)_LDFLAGS),$($(2)_LIBFLAGS),$($(2)_LD))
$(call __make_target_sources,$(2))
endef


ifeq (${MAKELIB_NEED_DEPS},1)

$(call debug_make,"MAKELIB_NEED_DEPS 1")

define __make_exe_whole_ex
$(eval $(call __make_exe_whole,$(call get_binname,$(1),$($(2)_BASEDIR),$($(2)_BINDIR)),$(2)))
endef

define make_exe_whole
$(eval $(call __make_exe_whole_ex,$(1),$(call get_exename,$(1))))
endef

# else MAKELIB_NEED_DEPS
else

$(call debug_make,"MAKELIB_NEED_DEPS 0")

define make_exe_whole
endef

# endif MAKELIB_NEED_DEPS
endif

define __clean_bintarget_whole
$(call debug_make,"__clean_bintarget_whole exe[$(1)] shortname[$(2)] DEPS[$($(2)_DEPS_CLEAN)]")
clean_$(2): $$($(2)_DEPS_CLEAN)
	$(call call_exec,${RM} -f $(call get_lcppfile,$($(2)_SRCS)),"RM","$(2)_lcppfiles")
	$(call call_exec,${RM} -f $(call get_lsfile,$($(2)_SRCS)),"RM","$(2)_lsfiles")
	$(call call_exec,${RM} -f $(call get_lcfile,$($(2)_SRCS)),"RM","$(2)_lcfiles")
	$(call call_exec,${RM} -f $(call get_depname,$($(2)_SRCS)),"RM","$(2)_deps")
	$(call call_exec,${RM} -f $(call get_toobj,$($(2)_SRCS),$($(2)_BASEDIR),$($(2)_BINDIR)),"RM","$(2)_objs")
	$(call call_exec,${RM} -f $(1),"RM","$(call get_basename,$(1))")
endef

define __clean_bintarget_whole_ex
$(call debug_make,"exe $(1) partname $(2)")
$(eval $(call __clean_bintarget_whole,$(call get_binname,$(1),$($(2)_BASEDIR),$($(2)_BINDIR)),$(2)))
endef

define clean_exe_whole
$(eval $(call __clean_bintarget_whole_ex,$(1),$(call get_exename,$(1))))
endef

define makefile_exe_whole
$(eval $(call make_exe_whole,$(1)))
$(eval $(call clean_exe_whole,$(1)))
endef

define foreach_makefile_exe_whole
$(foreach curexe,$(1),$(eval $(call makefile_exe_whole,$(curexe))))
endef

define __simple_makefile_exe_whole
$(call foreach_makefile_exe_whole,$(1))
endef


define simple_makefile_exe_whole
$(eval $(call __simple_makefile_exe_whole,$(1)))
endef


ifeq (${MAKELIB_NEED_DEPS},1)
define __make_so_whole
$(call build_bintarget_only,$(1),$(call get_toobj,$($(2)_SRCS),$($(2)_BASEDIR),$($(2)_BINDIR)),$(2),$($(2)_LDFLAGS),$($(2)_LIBFLAGS),$($(2)_LD))
$(call __make_target_sources,$(2))
endef
# else MAKELIB_NEED_DEPS 
else
define __make_so_whole
endef

# endif MAKELIB_NEED_DEPS
endif

define clean_so_whole
$(call debug_make,"clean_so_whole[$(1)]")
$(eval $(call __clean_bintarget_whole,$(1),$(call get_soname,$(1))))
endef


define make_so_whole
$(call debug_make,"make_so_whole[$(1)]")
$(eval $(call __make_so_whole,$(1),$(call get_soname,$(1))))
endef

define makefile_so_whole
$(eval $(call make_so_whole,$(1)))
$(eval $(call clean_so_whole,$(1)))
endef

define foreach_makefile_so_whole
$(foreach curexe,$(1),$(eval $(call makefile_so_whole,$(curexe))))
endef

define __simple_makefile_so_whole
$(call foreach_makefile_so_whole,$(1))
endef


define simple_makefile_so_whole
$(eval $(call __simple_makefile_so_whole,$(1)))
endef


define ar_run_direct
$(call debug_make,"ar_run_direct target[$(1)] objs[$(2)] arflags[$(3)] libflags[$(4)] arbin[$(5)]")
$(call call_exec,$(call get_value_default,$(5),${AR}) $(call get_value_default,$(3),rcs) $(1) $(2) $(4),"AR","$(call get_basename,$(1))")
endef

define build_staticlib_only
$(call debug_make,"target[$(1)] objs[$(2)] shortname[$(3)] arflags[$(4)] libflags[$(5)] compiler[$(6)]")
$(1) : $(2) $$($(3)_DEPS)
	$$(call ar_run_direct,$(1),$(2),$(4),$(5),$(6))
endef

ifeq (${MAKELIB_NEED_DEPS},1)
define __make_staticlib_whole
$(call build_staticlib_only,$(1),$(call get_toobj,$($(2)_SRCS),$($(2)_BASEDIR),$($(2)_BINDIR)),$(2),$($(2)_ARFLAGS),$($(2)_LIBFLAGS),$($(2)_AR))
$(call __make_target_sources,$(2))
endef

#else MAKELIB_NEED_DEPS
else

define __make_staticlib_whole
endef

#endif MAKELIB_NEED_DEPS
endif


define make_staticlib_whole
$(call debug_make,"make_staticlib_whole[$(1)]")
$(eval $(call __make_staticlib_whole,$(1),$(call get_shortname,$(1))))
endef


define clean_staticlib_whole
$(call debug_make,"clean_staticlib_whole[$(1)]")
$(eval $(call __clean_bintarget_whole,$(1),$(call get_shortname,$(1))))
endef

define makefile_staticlib_whole
$(eval $(call make_staticlib_whole,$(1)))
$(eval $(call clean_staticlib_whole,$(1)))
endef

define foreach_makefile_staticlib_whole
$(foreach curexe,$(1),$(eval $(call makefile_staticlib_whole,$(curexe))))
endef

define __simple_makefile_staticlib_whole
$(call foreach_makefile_staticlib_whole,$(1))
endef


define simple_makefile_staticlib_whole
$(eval $(call __simple_makefile_staticlib_whole,$(1)))
endef


## __DEPENDS_OP_MAK__ ##
endif