
ifndef __FILE_OP_MAK__
__FILE_OP_MAK__:=1


define readlink_f
$(shell ${PERL} -e '%PERL_READLINK_STR%' --  $(1) )
endef

define get_basename
$(shell ${PERL} -e '%PERL_BASENAME_STR%' -- $(1) )
endef


## __FILE_OP_MAK__ ##
endif