ifndef __VAR_OP_MAK__
__VAR_OP_MAK__:=1

ifeq (${V},)
Q=@
MAKELIB_VERBOSE=
else
Q=
MAKELIB_VERBOSE=-vvvv
endif

define get_value_default
$(if $(1),$(1),$(2))
endef



define get_shortname
$(shell ${PERL} -e '%PERL_SHORTNAME_STR%' -- -t "$(call get_value_default,$(2),)" $(1))
endef

MAKELIB_CLEAN_GOALS:=$(filter clean%,$(MAKECMDGOALS))
ifeq (${MAKELIB_CLEAN_GOALS},)
MAKELIB_NEED_DEPS=1
else
MAKELIB_NEED_DEPS=0
endif


## __VAR_OP_MAK__ ##
endif